@media (max-width: 719px) {
    #mapplaces,
    #maphomes,
    #main {
        display: none;
    }
}

@media (min-width: 720px) {
    #warning {
        display: none;
    }
}

#warning {
    color: #ee3311;
    font-size: 50px;
    padding: 5vw;
}

#device-warning {
    color: #ee3311;
    font-size: 12.5px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    width: 460px;
    background-color: #eee;
    padding: 10px;
}

#device-warning p {
  margin: 0 auto;
}

#main {
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    padding:20px;
    background-color:#f6f6f6;
}

fieldset {
    margin: 0 auto;
}

legend {
    font-size:18px;
    margin:0px;
    margin-bottom: 20px;
    padding:10px 0px;
    font-weight:bold;
    display: none;
}

.input-group {
  width: 160px;
}

.error {
    color: #ee3311;
    font-style: normal;
    margin: 0;
    margin-bottom: 4px;
}

.check-boxes {
    display: block;
}

.colleges-section label:nth-child(6) {
    margin-left: 0;
}

.vehicles label:nth-child(3) {
    margin-left: 0;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
.next {
=======
>>>>>>> master
.prev:hover, .next:hover {
    background-color:#000;
    text-decoration:none;
}

.prev {
    float:left;
}

.next {
    float:right;
}

#steps {
    list-style:none;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

#steps li {
    font-size:24px;
    float:left;
    padding:10px;
    color:#b0b1b3;
}

#steps li span {
    font-size:11px;
    display:block;
}

#steps li.current {
    color:#000;
}

.buttons {
    margin-top: 100px;
    float: right;
}
